.signup-form label{
    display: flex;
    align-items: left;
}
.signup-form input{
    width: 100%;
    margin-bottom: 7px;
    outline: none;
    padding: 8px 5px;
    border: 1px solid rgb(209, 207, 207);
}
.signup-btn{
    background-color: #1a8917;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
  }
  .signup-btn:hover{
    background-color: #157a13;
  }