body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
 }

.App {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}



h1 {
  text-align: center;
}

.dynamic-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.element {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-options {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.add-type-selector {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background: #333;
}
